
<div class="mainChatContainer">
     <section id="leftContainer">
        <div class="topPart"></div>
        <h1>Onlyteams</h1>
        <a href="/">Find Teams</a>
        <a href="/feed">Feed</a>
        <a href="/chat">Messages</a>
        <a href="/createteam">Create A Team</a>
        <a href="/memories">Post A Memory</a>

      </section>

<div class="chatLeftContainer">

{{!-- {{#each allRooms}}
<div class="eachMessage">

   <a href="/chat/{{id}}">{{name}}</a>
</div>

{{/each}} --}}

{{!-- {{#each user.rooms}} --}}
{{#each user.rooms}}
<div class="eachMessage">
   <a href="/chat/{{
    _id}}">{{name}}</a>
</div>
{{/each}}



</div>
<form id="chat-form">
  
<div class="chatRightContainer">
    

{{!-- {{#each user.messages}}
 <p style="color:red">{{msg}}heyeyeyey</p>
  <p>{{name}}</p>
  <p>{{time}}</p>
{{/each}} --}}
<div>
  <p>Current users in room:</p>
</div>
<div class="usersInRoom">
  {{#each usersInRoom as |user|}}
  
<p>{{user}}</p>
{{/each}}

</div>

<div class="chatMessages">

  {{#each findARoom.messages}}
  
  <p style="position:relative">{{msg}} {{name}} <span style="position:absolute; bottom:0; right:0;">{{time}}</span></p>



  {{/each}}

</div>


<div class="sendMessage">
<input type="text" placeholder="Message..." class="messageInput"/>
<button>Send</button>



</div>
</form>
</div>

</div>