
<div class="mainChatContainer">
     {{!-- <section id="leftContainer">
        <div class="topPart"></div>
        <h1>Onlyteams</h1>
        <a href="/">Find Teams</a>
        <a href="/feed">Feed</a>
        <a href="/chat">Messages</a>
        <a href="/createteam">Create A Team</a>
        <a href="/memories">Post A Memory</a>

      </section> --}}

<div class="chatLeftContainer">

{{!-- {{#each allRooms}}
<div class="eachMessage">

   <a href="/chat/{{id}}">{{name}}</a>
</div>

{{/each}} --}}

{{#each user.rooms}}
<div class="eachMessage">

   <a href="/chat/{{id}}">{{name}}</a>
</div>
{{/each}}


</div>
<form id="chat-form">
<div class="chatRightContainer">
<div class="usersInRoom">
  {{#each usersInRoom as |user|}}
  
<p>{{user}}</p>
{{/each}}

</div>
<div class="chatMessages">
  {{#each findARoom.messages}}
  <div class="newMessage">
  <p>{{msg}}</p>
  <p>{{name}}</p>
  <p>{{time}}</p>
</div>
  {{/each}}
{{!-- <p>Message here</p> --}}


</div>


</form>
</div>





</div>