

    {{!-- <h1 style="color:white;">Onlyteams</h1> --}}
 <form id="logout-form" action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
    <main class="homePage">

      <section id="leftContainer">
        <div class="topPart"></div>
      
        <a href="/">Find Teams</a>
        <a href="/feed">Feed</a>
        <a href="/chat">Messages</a>
        <a href="/createteam">Create A Team</a>
        <a href="/memories">Post A Memory</a>

      </section>

      <section id="middleContainer">
        <div class="topPart"></div>

        <h1>Find Teams</h1>
        <select name="team" class="team" value="{{teamName}}{{tag}}{{location}}{{division}}" >
          {{#each teamList}}
            <option
              value="{{teamName}},{{tag}},{{location}},{{division}}"
              class="teamOption"
              name="teamOne"
            >{{teamName}}</option>

          {{/each}}
        </select>

        <div class="teamsHere">

          {{#each teamList}}
            <div class="eachTeam">
              <a href="/teamplayers/{{_id}}">{{teamName}}</h1></a>
              <p>{{tag}}</p>
              <p>{{location}}</p>
              <p>{{division}}</p>
            </div>

          {{/each}}
        </div>

      </section>

      <section id="rightContainer">
        <div class="topPart"></div>

        <h1 class="mostRecent">Most Recent Posts</h1>
        {{#each feedList}}
          <img src="{{image}}" alt="" />
          
                  <p>posted by: <a  class="userPost">{{username}} </a></p>

        {{/each}}
      </section>
    </main>

