

    {{!-- <h1 style="color:white;">Onlyteams</h1> --}}

    <main class="homePage">

      <section id="leftContainer">
        <div class="topPart">
          <p>PlayerDex: {{totalUsers}}</p>
        </div>
      <a href="/profile">My Profile</a>
        <a href="/">Find Teams</a>
        <a href="/feed">Feed</a>
        <a href="/chat">Messages</a>
        <a href="/createteam">Create A Team</a>
        <a href="/memories">Post A Memory</a>

      </section>

      <section id="middleContainer">
        <div class="topPart">
          <p >TeamDex: {{totalTeams}}</p>
        </div>

        <h1>Find Teams</h1>
        <select name="team" class="team" value="{{teamName}}{{tag}}{{location}}{{division}}" >
          {{#each teamList}}
            <option
              value="{{teamName}},{{tag}},{{location}},{{division}}"
              class="teamOption"
              name="teamOne"
            >{{teamName}}</option>

          {{/each}}
        </select>

        <div class="teamsHere">

          {{#each teamList}}
            <div class="eachTeam">
              <a href="/teamplayers/{{_id}}">{{teamName}}</h1></a>
              <p>{{tag}}</p>
              <p>{{location}}</p>
              <p>{{division}}</p>
              <form action="/teamplayers/{{_id}}" method="POST">
              <button >Join</button>
              </form>
            </div>

          {{/each}}
        </div>

      </section>

      <section id="rightContainer">
        <div class="topPart"></div>

        <h1 class="mostRecent">Most Recent Posts</h1>
        {{#each feedList}}
          <img src="{{image}}" alt="" />
    <div style="display:flex; justify-content:space-around; align-items:center;">
      
                  <p>posted by: <a data-value="{{user.id}}" class="userPost">{{user.username}} </a></p><div ><i class="fa-solid fa-user"></i><i class="fa-solid fa-message"></i></div>
</div>
        {{/each}}
      </section>
    </main>

